aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
members
missing
Makefile.in
romdump/Makefile.in
src/Makefile.in
build-stamp
configure-stamp
debian/.debhelper/
debian/files
debian/x48.debhelper.log
debian/x48.substvars
debian/x48/

