*.sw?
*.o
aclocal.m4
autom4te.cache/
build-stamp
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure-stamp
debian/.debhelper/
debian/files
debian/x48/
debian/x48.debhelper.log
debian/x48.substvars
depcomp
install-sh
Makefile
Makefile.in
members
missing
romdump/Makefile.in
rpm/x48.spec
src/checkrom
src/.deps/
src/dump2rom
src/Makefile.in
src/mkcard
src/x48
src/x48.man
stamp-h1

