[Desktop Entry]
Name=x48
Exec=/tank/data/czo/etc/hp48/x48
Type=Application
StartupNotify=true
Icon=/tank/data/czo/etc/hp48/icon_48sx.png
StartupWMClass=x48
